/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #2b81e4;
  --secondary-color: #eee;
  --white-color: #fff;
  --grey-color: #555;
  --light-grey-color: #777;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--secondary-color);
  margin: 3.5rem;
  box-shadow: 0 1rem 3rem var(--grey-color);
  overflow: hidden;
}

/* Navbar Styles */
.navbar-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.open-navbar-icon {
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 200;
}

.navbar-icon .line {
  height: 0.2rem;
  width: 3.5rem;
  background-color: var(--light-grey-color);
}

.open-navbar-icon .line {
  margin: 0.3rem 0;
}

.navbar-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 300;
  padding: 3.5rem 5.5rem;
  transition: bottom 0.5s, opacity 0.2s;
}

.change .navbar-wrapper {
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.2s 0.25s;
}

.navbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(images/navbar-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}

.close-navbar-icon {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 300;
}

.close-navbar-icon .line {
  position: absolute;
}

.line-1 {
  transform: rotate(40deg);
}

.line-2 {
  transform: rotate(-40deg);
}

.nav-list {
  height: 100%;
  display: flex;
}

.nav-link {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white-color);
  text-transform: uppercase;
  width: 100%;
  opacity: 0.8;
  position: relative;
  top: -100%;
  transition: top 0.3s, opacity 0.3s, color 0.3s;
}

.change .nav-link {
  top: 0;
}

.nav-link:hover {
  opacity: 1;
  color: var(--primary-color);
}

.change .nav-link:nth-child(1) {
  transition-delay: 0.4s;
}

.change .nav-link:nth-child(2) {
  transition-delay: 0.6s;
}

.change .nav-link:nth-child(3) {
  transition-delay: 0.8s;
}

.change .nav-link:nth-child(4) {
  transition-delay: 1s;
}

.change .nav-link:nth-child(5) {
  transition-delay: 1.2s;
}

/* Header Styles */
.header {
  width: 100%;
  height: calc(100vh - 7rem);
  background: linear-gradient(rgba(18, 113, 255, 0.5), rgba(18, 113, 255, 0.3)), url(images/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  perspective: 100rem;
}

.header-text {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.3rem 0.5rem var(--grey-color);
}

.heading {
  font-size: 8rem;
  color: var(--white-color);
}

.header-paragraph {
  font-size: 3rem;
  font-weight: 500;
  color: var(--secondary-color);
  max-width: 70rem;
  margin: auto;
}

.logo {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

.logo h1 {
  display: flex;
}

.logo h1 span {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: var(--white-color);
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.logo h1 span:nth-child(1) {
  animation: drop-letters 5s 0.1s infinite;
}

.logo h1 span:nth-child(2) {
  animation: drop-letters 5s 0.2s infinite;
}

.logo h1 span:nth-child(3) {
  animation: drop-letters 5s 0.3s infinite;
}

.logo h1 span:nth-child(4) {
  animation: drop-letters 5s 0.4s infinite;
}

.logo h1 span:nth-child(5) {
  animation: drop-letters 5s 0.5s infinite;
}

.logo h1 span:nth-child(6) {
  animation: drop-letters 5s 0.6s infinite;
}

.logo h1 span:nth-child(7) {
  animation: drop-letters 5s 0.7s infinite;
}

@keyframes drop-letters {
  0%, 10%, 20%, 100% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-100%);
  }
}

.header-image {
  width: 35%;
  animation: image-float 150s infinite;
}

@keyframes image-float {
  0%, 100% {
    transform: translateZ(40rem);
    opacity: 1;
  }
  40% {
    transform: translateZ(-500rem) translateX(150rem);
    opacity: 0.8;
  }
  70% {
    transform: translateZ(-1500rem) translateX(800rem);
    opacity: 0.6;
  }
  80% {
    transform: translateZ(-50rem) translateX(100rem);
    opacity: 0.8;
  }
}

/* Popular Tours Styles */
.popular-tours {
  padding: 5rem 0 10rem 0;
}

.popular-tours-heading {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 8rem;
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 35rem;
  position: relative;
  perspective: 150rem;
}

.card-image {
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
}

.front-side, .back-side {
  text-align: center;
  background-color: var(--white-color);
  border-radius: 0.3rem;
  position: relative;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.change .front-side {
  transform: translateZ(-5rem) translateX(3rem);
  box-shadow: 0 2rem 4rem #777;
  opacity: 0.5;
  z-index: 0;
}

.tour-name {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  right: 1.5rem;
  color: var(--white-color);
  text-shadow: 0 0 1rem #000;
}

.card-list {
  width: 80%;
  margin: auto;
  padding: 2rem 0 3rem 0;
}

.card-list-item {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--light-grey-color);
  margin: 2rem 0;
  border-bottom: 0.1rem solid var(--primary-color);
  padding-bottom: 1.5rem;
}

.back-side {
  background-color: var(--primary-color);
  box-shadow: 0 2rem 4rem #777;
  flex-direction: column;
  transform: translateZ(-5rem) translateX(3rem);
  opacity: 0.5;
}

.change .back-side {
  transform: translateZ(0) translateX(0);
  opacity: 1;
  z-index: 1;
}

.book-btn {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--white-color);
  color: var(--grey-color);
  padding: 1.5rem 4rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  transition: transform 0.4s;
}

.book-btn:hover {
  transform: scale(1.1);
}

.tour-info {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white-color);
  width: 80%;
  margin: auto;
  padding: 1rem 0 3rem 0;
}

/* Our Services Styles */
.our-services {
  padding: 10rem 0;
}

.services-heading {
  font-size: 8rem;
  text-align: center;
  color: var(--primary-color);
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
  margin-bottom: 10rem;
}

.service {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.service-title {
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
}

.service-paragraph {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey-color);
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
}

/* Contact Us Styles */
.contact {
  background-color: var(--primary-color);
  padding: 8rem 0;
}

.contact-heading {
  font-size: 8rem;
  text-align: center;
  color: var(--white-color);
  text-shadow: 0 0.1rem 0.2rem var(--white-color);
  margin-bottom: 5rem;
}

.contact-form {
  width: 40%;
  margin: auto;
}

.contact-form-group {
  margin-bottom: 2rem;
}

.contact-form-label {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  display: block;
  margin-bottom: 0.5rem;
}

.contact-form-input {
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.contact-form-input[type="submit"] {
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: 700;
  cursor: pointer;
}

.contact-form-input[type="submit"]:hover {
  background-color: var(--grey-color);
  color: var(--white-color);
}
